html {
    background: rgb(154,214,145);
    background: linear-gradient(135deg, rgba(154,214,145,1) 3%, rgba(255,255,255,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

body {
    background: rgb(154,214,145);
    background: linear-gradient(135deg, rgba(154,214,145,1) 3%, rgba(255,255,255,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    color: #0f0f0f;
}

li, button, input, label {
    font-family: 'Open Sans', sans-serif;
}

.cardBox {
    position: fixed;
    top: 10%;
    left: 20%;
    background-color: whitesmoke;
    border: 1px lightslategrey;
    border-radius: 2%;
}

.smallCheck {
    height: 20px;
    width: 20px;
}

.whiteSpace {
    width: 100%;
    height: 40px;
}

/* Back Pulse on list items */
@-webkit-keyframes hvr-back-pulse {
    50% {
      background-color: rgba(224, 230, 233, 0.75);
    }
  }
  @keyframes hvr-back-pulse {
    50% {
      background-color: rgba(224, 230, 233, 0.75);
    }
  }
  .hvr-back-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 1.5s;
    transition-duration: 1.5s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
  }
  .hvr-back-pulse:hover, .hvr-back-pulse:focus, .hvr-back-pulse:active {
    -webkit-animation-name: hvr-back-pulse;
    animation-name: hvr-back-pulse;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-color: #EFEFEF;
  }


  /* Strike Through animation */

  span {
    position: relative;
    cursor: pointer;
  }
  
  span:before, span:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    top: 50%;
    margin-top: -0.5px;
    background: #fff;
  }
  
  span:before {
    left: -2.5px;
  }
  span:after {
    right: 2.5px;
    background: #000;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
  span:hover:before {
    background: #000;
    width: 115%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
  span:hover:after {
    background: transparent;
    width: 115%;
    transition: 0s;
  }